.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
}

.Header {
  border: solid red 1px;
}

nav {
  border: solid blue 1px;
}

main {
  border: solid green 1px;
}

img {
  height: 50px;
  width: 50px;
}

section {
  border: solid 1px peru;
}
